<!-- <link rel="stylesheet" type="text/css" href="assets/css/responsive.css">  -->
<!-- Footer -->

<footer class="footer">
  <div class="container">
    <div class="row">


      <div class="col-lg-2 footer_column">
        <div class="footer_col">
          <!-- <div class="footer_content footer_about"> -->
            <!-- <div class="logo_container footer_logo">
              <div class="logo"><a href="#"><img src="assets/images/logo.png" alt="">travel Logo</a></div>
            </div> -->
            <!-- <p class="footer_about_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis vu lputate eros, iaculis consequat nisl. Nunc et suscipit urna. Integer eleme ntum orci eu vehicula pretium.</p> -->
            <div class="footer_title">{{'Footer.Tour Agency'| translate}}</div>
            <ul class="footer_social_list">
              <li class="footer_social_item"><a href="#"><i class="fa fa-pinterest"></i></a></li>
              <li class="footer_social_item"><a href="#"><i class="fa fa-facebook-f"></i></a></li>
              <li class="footer_social_item"><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li class="footer_social_item"><a href="#"><i class="fa fa-dribbble"></i></a></li>
              <li class="footer_social_item"><a href="#"><i class="fa fa-behance"></i></a></li>
            </ul>
          <!-- </div> -->
        </div>
      </div>
      <div class="col-lg-2 footer_column">
        <div class="footer_col">
          <div class="footer_title">{{'Footer.Book Now'| translate}}</div>
          <div class="footer_content footer_tags">
            <ul class="tags_list clearfix">
              <li class="tag_item"><a href="#">{{'Footer.Design' | translate}}</a></li>
              <li class="tag_item"><a href="#">{{'Footer.Fashion' | translate}}</a></li>
              <li class="tag_item"><a href="#">{{'Footer.Music'| translate}}</a></li>
           
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-2 footer_column">
        <div class="footer_col">
          <div class="footer_title">{{'Footer.Top Deals' | translate}}</div>
          <div class="footer_content footer_tags">
            <ul class="tags_list clearfix">
              <li class="tag_item"><a href="#">{{'Footer.Design' | translate}}</a></li>
              <li class="tag_item"><a href="#">{{'Footer.Fashion' | translate}}</a></li>
              <li class="tag_item"><a href="#">{{'Footer.Music'| translate}}</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3 footer_column">
        <div class="footer_col">
          <div class="footer_title">{{'Footer.Blog posts' | translate}}</div>
          <div class="footer_content footer_blog">


            <div class="footer_blog_item clearfix">
              <div class="footer_blog_image"><img src="assets/images/footer_blog_1.jpg" alt="https://unsplash.com/@avidenov"></div>
              <div class="footer_blog_content">
                <div class="footer_blog_title"><a href="blog.html">{{'Footer.Travel with us this year' | translate}}</a></div>
                <div class="footer_blog_date">Nov 29, 2017</div>
              </div>
            </div>


            <div class="footer_blog_item clearfix">
              <div class="footer_blog_image"><img src="assets/images/footer_blog_2.jpg" alt="https://unsplash.com/@deannaritchie"></div>
              <div class="footer_blog_content">
                <div class="footer_blog_title"><a href="blog.html">{{'Footer.New destinations for you' | translate}}</a></div>
                <div class="footer_blog_date">Nov 29, 2017</div>
              </div>
            </div>


            <div class="footer_blog_item clearfix">
              <div class="footer_blog_image"><img src="assets/images/footer_blog_3.jpg" alt="https://unsplash.com/@bergeryap87"></div>
              <div class="footer_blog_content">
                <div class="footer_blog_title"><a href="blog.html">{{'Footer.Travel with us this year' | translate}}</a></div>
                <div class="footer_blog_date">Nov 29, 2017</div>
              </div>
            </div>

          </div>
        </div>
      </div>





      <div class="col-lg-3 footer_column">
        <div class="footer_col">
          <div class="footer_title">{{'Footer.Contact Info' | translate}}</div>
          <div class="footer_content footer_contact">
            <ul class="contact_info_list">
              <li class="contact_info_item d-flex flex-row">
                <div><div class="contact_info_icon"><img src="assets/images/placeholder.svg" alt=""></div></div>
                <div class="contact_info_text">{{'Footer.Electronic Complex' | translate}}</div>
              </li>
              <li class="contact_info_item d-flex flex-row">
                <div><div class="contact_info_icon"><img src="assets/images/phone-call.svg" alt=""></div></div>
                <div class="contact_info_text">2556-808-8613</div>
              </li>
              <li class="contact_info_item d-flex flex-row">
                <div><div class="contact_info_icon"><img src="assets/images/message.svg" alt=""></div></div>
                <div class="contact_info_text"><a href="mailto:contactme@gmail.com?Subject=Hello" target="_top">contactme@gmail.com</a></div>
              </li>
              <li class="contact_info_item d-flex flex-row">
                <div><div class="contact_info_icon"><img src="assets/images/planet-earth.svg" alt=""></div></div>
                <div class="contact_info_text"><a href="#">www.info.com</a></div>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</footer>

<!-- Copyright -->

<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 order-lg-1 order-2  ">
        <div class="copyright_content d-flex flex-row align-items-center">
          <div>
{{'Footer.Copyright' | translate}} &copy; {{this.mydate | date: 'yyyy' }}&nbsp;{{'Footer.All rights reserved' | translate}}
</div>
        </div>
      </div>
      <div class="col-lg-9 order-lg-2 order-1">
        <div class="footer_nav_container d-flex flex-row align-items-center justify-content-lg-end">
          <div class="footer_nav">
            <ul class="footer_nav_list">
              <!-- <li class="main_nav_item"><a routerLink="/">{{'Header.Home' | translate}}</a></li>
              <li class="main_nav_item"><a href="#">{{'Header.AboutUs' | translate}}</a></li>
              <li class="main_nav_item"><a href="#">{{'Header.Offers' | translate}}</a></li>
              <li class="main_nav_item"><a href="#">{{'Header.News'| translate}}</a></li>
              <li class="main_nav_item"><a href="#">{{'Header.Contact'| translate}}</a></li> -->
              <li class="footer_nav_item"><a href="#">{{'Header.Home' | translate}}</a></li>
              <li class="footer_nav_item"><a href="#">{{'Header.Destination' | translate}}</a></li>
              <li class="footer_nav_item"><a href="#">{{'Header.Tours' | translate}}</a></li>
              <!-- <li class="footer_nav_item"><a href="#">{{'Header.News'| translate}}</a></li> -->
              <li class="footer_nav_item"><a href="#">{{'Header.Contact Us'| translate}}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
