<!-- 
|________________________________________________
| © 2019 Selectical Pvt.Ltd All Rights Reserved |
| @ Designed & Developed By Vikrant Rana        |
|_______________________________________________|  
-->
<ngx-spinner bdColor="#af00ff" size="large" color="#fff" type="line-scale-pulse-out">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="container" style="background-image: url('assets/images/background.jpg');">
  <div class="row">
      <div class="col-lg-12 text-center">
          <h1 class="text-white"><b><i class="fa fa-header fa-spin"></i>&nbsp;Header</b></h1>
      </div>
  </div>
  <br>
  <br>
  <div class="row">
      <div class="col-lg-12">
  <div class="card">
      <div class="card-header country-head"><i class="fa fa-header"></i>&nbsp;Header List</div>
      <div class="card-body country-body">
          <div class="row">
              <div class="col-lg-12">
                  <button type="button" (click)="resetData(headerForm)" *ngIf="headerData.length === 0" class="btn btn1 btn-sm" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i>&nbsp;Add New Header</button>
              </div>
          </div>
          <br>
          <div class="row">
              <div class="col-lg-12 col-md-12">
                  <table datatable="ng" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table-responsive row-border hover">
                      <thead class=" text-center bg-primary text-white">
                          <tr style="white-space:nowrap;">
                              <th>Sl No</th>
                              <th>Contact Number</th>
                              <th>Facebook Link</th>
                              <th>Twitter Link</th>
                              <th>LinkedIn Link</th>
                              <th>Actions</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let Header of headerData; index as i" class="text-center">
                              <td>{{i+1}}</td>
                              <td>{{Header.ContactNumber}}</td>
                              <td>{{Header.FacebookLink}}</td>
                              <td>{{Header.TwitterLink}}</td>
                              <td>{{Header.LinkedInLink}}</td>
                              <td style="display:inline-flex">
                                  <button class="btn btn-danger btn-xs" title="Delete Header Detail" (click)="sendHeaderDetailsToModalPopUp(Header);" data-toggle="modal" data-target="#DeleteModal"><i class="ti-trash"></i></button>
                                  <button class="btn btn-primary btn-xs" title="Edit Header Detail" (click)="editHeader(Header)" data-toggle="modal" data-target="#myModal"><i class="ti-pencil-alt"></i></button>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
  </div>
  </div>
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

      <!-- Modal content-->
      <div class="modal-content" style="background-image: url('assets/images/background1.jpg');">
          <form #headerForm="ngForm">
              <div class="modal-header destination-header text-center"  style="background-image: url('assets/images/background.jpg');">
                  <h4 class="modal-title text-white"><i class="fa fa-header"></i>&nbsp;Add New Header</h4>
                  <button type="button" (click)="resetData(headerForm)" class="close text-white  cross-button" data-dismiss="modal">&times;</button>
              </div>
              <br>
              <br>
              <div class="modal-body">
                  <div class="row">
                      <div class="col-lg-6">
                          <!-- form data -->
                          <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="fa fa-phone"></i>&nbsp;Contact Number</span>
                              </div>
                              <input type="text" name="ContactNumber" [(ngModel)]="header.ContactNumber" class="form-control input-box" placeholder="Contact Number">
                          </div>
                      </div>
                      <div class="col-lg-6">
                          <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                  <span class="input-group-text">Facebook Link</span>
                              </div>
                              <input type="text" name="FacebookLink" [(ngModel)]="header.FacebookLink" class="form-control input-box" placeholder="Facebook Link">
                          </div>
                      </div>
                  </div>
                  <br>
                  <br>
                  <div class="row">
                      <div class="col-lg-6">
                          <!-- form data -->
                          <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                  <span class="input-group-text">Twitter Link</span>
                              </div>
                              <input type="text" name="TwitterLink" [(ngModel)]="header.TwitterLink" class="form-control input-box" placeholder="Twitter Link">
                          </div>
                      </div>
                      <div class="col-lg-6">
                          <!-- form data -->
                          <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                  <span class="input-group-text">Linked In Link</span>
                              </div>
                              <input type="text" name="LinkedInLink" [(ngModel)]="header.LinkedInLink" class="form-control input-box" placeholder="Linked In Link">
                          </div>
                      </div>
                  </div>
                  <br>
                  <br>
              </div>
              <div class="modal-footer">
                  <button type="submit" class="btn btn-primary my-button btn-lg darkblue" (click)="saveHeader(headerForm)" data-dismiss="modal"><span class="ti-save-alt"></span>&nbsp;Save</button>
                  <button type="reset" class="btn btn-info reset-button btn-lg blue"><span class="ti-control-shuffle"></span>&nbsp;Reset</button>
                  <button type="button" class="btn btn-danger  close-button btn-lg red" (click)="resetData(headerForm)" data-dismiss="modal"><span class="ti-close"></span>&nbsp;Close</button>
              </div>
          </form>
      </div>
  </div>
</div>

<!-- The Delete Modal -->
<div class="modal fade" id="DeleteModal">
  <div class="modal-dialog">
      <div class="modal-content deletemodal-country">

          <!-- Delete Modal Header -->
          <div class="modal-header delete-head">
              <h4 class="modal-title delete-title text-white">Delete</h4>
              <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body delete-body text-center">
              <b><i class="ti-alert"></i>&nbsp;Are You Sure You Want To Delete &nbsp;?</b>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer mx-auto">
              <button type="button" (click)="deleteHeader(headerDetails)" data-dismiss="modal" class="btn btn-success btn-sm all-button "><i class="fa fa-trash fa-spin"></i>&nbsp;Yes</button>
              <button type="button" class="btn btn-danger btn-sm all-button " data-dismiss="modal"><i class="ti ti-close"></i>&nbsp;No</button>
          </div>
      </div>
  </div>
</div>
<!-- 
|________________________________________________
| © 2019 Selectical Pvt.Ltd All Rights Reserved |
| @ Designed & Developed By Vikrant Rana        |
|_______________________________________________|  
-->