agm-map {
	height: 500px;
  }
  .label-destination{
      background:#31124b;
      color:white;
  }
  .destination-header {
    line-height:66px;
  }

  .bg_img_desti{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(119, 48, 0, 0.8)), color-stop(100%, rgba(119, 48, 0, 0))), url("../../assets/images/africa-cebras-0.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: 340px;
    padding-top: 50px;
  }

  .para_desti{
    font-size: 22px;
    color: #fff;
    font-weight: 700;
  }

  .overlay_desti{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(119, 48, 0, 0.8)), color-stop(100%, rgba(119, 48, 0, 0)));
  }
  .content {
    position: relative;
    /* width: 90%; */
    /* max-width: 400px; */
    /* margin: auto; */
    overflow: hidden;
    margin-top: 10px;
  }

  .content .content-overlay {
    background: rgba(0,0,0,0.7);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }

  .content:hover .content-overlay{
    opacity: 1;
  }

  .content-image{
    width: 100%;
  }

  .content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  .content:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
  }

  .content-details h3{
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
  }

  .content-details p{
    color: #fff;
    font-size: 0.8em;
  }

  .fadeIn-bottom{
    top: 80%;
  }
h3,h5{font-family:'Bebas Neue'}

.Destination-title-in-country{
  font-size: 2.75rem !important;
  letter-spacing: 2px !important;

}