<!-- 
|________________________________________________
| © 2019 Selectical Pvt.Ltd All Rights Reserved |
| @ Designed & Developed By Vikrant Rana        |
|_______________________________________________|  
-->
<ngx-spinner bdColor="#af00ff" size="large" color="#fff" type="line-scale-pulse-out">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="container" style="background-image: url('assets/images/background.jpg');">
  <br>
  <div class="row">
      <div class="col-lg-12 text-center">
          <h1 class="text-white"><b><i class="fa fa-tachometer"></i>&nbsp;Dashboard</b></h1>
      </div>
  </div>
  <br>
 
  <div class="row">
      <div class="col-lg-6">
              <div class="container bootstrap snippet">
                  <div class="row">
                      <div class="col-lg-6 col-sm-6">
                          <div class="circle-tile ">
                              <a href="#">
                                  <div class="circle-tile-heading dark-blue"><i class="fa fa-users fa-fw fa-3x"></i></div>
                              </a>
                              <div class="circle-tile-content dark-blue">
                                  <div class="circle-tile-description text-faded"> Users</div>
                                  <div class="circle-tile-number text-faded ">265</div>
                                  <a class="circle-tile-footer" routerLink="/admin/dashboard">More Info<i class="fa fa-chevron-circle-right"></i></a>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-6 col-sm-6">
                          <div class="circle-tile ">
                              <a href="#">
                                  <div class="circle-tile-heading red"><i class="fa fa-users fa-fw fa-3x"></i></div>
                              </a>
                              <div class="circle-tile-content red">
                                  <div class="circle-tile-description text-faded"> Users Online </div>
                                  <div class="circle-tile-number text-faded ">10</div>
                                  <a class="circle-tile-footer" routerLink="/admin/dashboard">More Info<i class="fa fa-chevron-circle-right"></i></a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
       
      </div>
      <div class="col-lg-6">
              <div class="container bootstrap snippet">
                  <div class="row">
                      <div class="col-lg-6 col-sm-6">
                          <div class="circle-tile ">
                              <a href="#">
                                  <div class="circle-tile-heading bg-primary"><i class="fa fa-users fa-fw fa-3x"></i></div>
                              </a>
                              <div class="circle-tile-content bg-primary">
                                  <div class="circle-tile-description text-faded"> Users</div>
                                  <div class="circle-tile-number text-faded ">265</div>
                                  <a class="circle-tile-footer" routerLink="/admin/dashboard">More Info<i class="fa fa-chevron-circle-right"></i></a>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-6 col-sm-6">
                          <div class="circle-tile ">
                              <a href="#">
                                  <div class="circle-tile-heading bg-info"><i class="fa fa-users fa-fw fa-3x"></i></div>
                              </a>
                              <div class="circle-tile-content bg-info">
                                  <div class="circle-tile-description text-faded"> Users Online </div>
                                  <div class="circle-tile-number text-faded ">10</div>
                                  <a class="circle-tile-footer" routerLink="/admin/dashboard">More Info<i class="fa fa-chevron-circle-right"></i></a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

      </div>
  </div>
  <div class="row">
      <div class="col-md-4">
          <div class="dbox dbox--color-1">
              <div class="dbox__icon">
                  <i class="glyphicon glyphicon-cloud"></i>
              </div>
              <div class="dbox__body">
                  <span class="dbox__count">8,252</span>
                  <span class="dbox__title">Lesson Plan</span>
              </div>
              <div class="dbox__action">
                  <button class="dbox__action__btn">More Info</button>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="dbox dbox--color-2">
              <div class="dbox__icon">
                  <i class="glyphicon glyphicon-download"></i>
              </div>
              <div class="dbox__body">
                  <span class="dbox__count">100</span>
                  <span class="dbox__title">Learning Resources</span>
              </div>
              <div class="dbox__action">
                  <button class="dbox__action__btn">More Info</button>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="dbox dbox--color-3">
              <div class="dbox__icon">
                  <i class="glyphicon glyphicon-heart"></i>
              </div>
              <div class="dbox__body">
                  <span class="dbox__count">2502</span>
                  <span class="dbox__title">Enrichment Content</span>
              </div>
              <div class="dbox__action">
                  <button class="dbox__action__btn">More Info</button>
              </div>
          </div>
      </div>
  </div>
  <!-- 
|________________________________________________
| © 2019 Selectical Pvt.Ltd All Rights Reserved |
| @ Designed & Developed By Vikrant Rana        |
|_______________________________________________|  
-->